@model MerchelloDemo.Web.Models.ProductCategoryPageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@Html.Action("Breadcrumb", "Navigation")
<hr />

<h1>@Model.MainHeading</h1>

@Model.BodyText

<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <a href="@product.Url">@product.Name</a>
            @HtmlHelpers.RenderPrice(product.ProductDetail.Price, product.ProductDetail.SalePrice, product.ProductDetail.OnSale, product.ProductDetail.HasVariantsWithPriceRange)
        </li>
    }
</ul>