@using MerchelloDemo.Web.Controllers;

@model MerchelloDemo.Web.Models.ProductPageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<h1>@Model.MainHeading</h1>

@Model.BodyText

@if (Model.ProductDetail != null)
{ 
    <p>@Model.ProductDetail.Price.ToString("C")</p>
    
    using(Html.BeginUmbracoForm<BasketPageController>("AddItem", "BasketPage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        foreach (var option in Model.ProductDetail.Options)
        {
            <div>
                @Html.Label(option.Name)
                @Html.DropDownList("OptionKeys", option.Choices)
            </div>
        }        
        
        <input type="submit" value="Add To Cart" />
    
        @Html.Hidden("ProductKey", Model.ProductDetail.Key)  
        @Html.Hidden("ContentId", Model.Id)  
    }    
}