@using MerchelloDemo.Web.Controllers;

@model MerchelloDemo.Web.Models.ProductPageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@Html.Action("Breadcrumb", "Navigation")
<hr />

<h1>@Model.MainHeading</h1>

@Model.BodyText

@if (Model.ProductDetail != null)
{
    <div id="product-detail">
        @HtmlHelpers.RenderPrice(Model.ProductDetail.Price, Model.ProductDetail.SalePrice, Model.ProductDetail.OnSale, Model.ProductDetail.HasVariantsWithPriceRange)

        @using (Html.BeginUmbracoForm<BasketPageController>
            ("AddItem", "BasketPage", new { id = "add-to-basket-form" }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            foreach (var option in Model.ProductDetail.Options)
            {
            <div>
                @Html.Label(option.Name)
                @Html.DropDownList("OptionKeys", option.Choices)
            </div>
            }

            <input type="submit" value="Add To Cart" />

            @Html.Hidden("ProductKey", Model.ProductDetail.Key)
            @Html.Hidden("ContentId", Model.Id)
            }
    </div>
}